
@{
    ViewBag.Title = "Tenent";
    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<div style=" position: relative; text-align: center; color: white;">

    <img style="width: 100%; height: 100%; border-radius:10px;" src="~/Content/4edit.jpg" alt="" />
    <div style="position: absolute; top: 35%; left: 50%; transform: translate(-50%, -50%); font-size:45px; font-style:inherit">Welcome To Property Rental Management</div>

</div>


<div class="jumbotron">
    <h1>Welcome  @Session["userName"].ToString() </h1>
    <h2>You are @Session["roleName"].ToString()</h2>
    <p class="lead">You can select the item to make change.</p>

</div>


<div class="row">
    <div class="col-md-push-12">
        <h2>Best place to find your dream house:</h2>
        <p>
            In Montréal, roughly 45% of buildings are small apartment buildings, while large apartment buildings, duplexes, and single detached homes are the main alternatives in the housing stock. This city has a good selection of housing sizes, ranging from lofts to four or more bedrooms. The population residing in this city is evenly split between owners and renters. Roughly 30% of homes in this city were built in the 1960s and 1970s, while the majority of the remaining buildings were constructed pre-1960 and in the 1980s.
        </p>
        <p><a class="btn btn-info" href="https://www.royallepage.ca/en/qc/montreal/">Learn more &raquo;</a></p>
    </div>


</div>





<div class="row">

    <div class="col-md-push-12">
        <h2>Browse houses:</h2>
        <table style="width:100%">
            <tr>
                <hr />
                <th><img src="~/Content/14347101_15.jpg" alt="" border=3></img></th>
                <th><img src="~/Content/17482074_2.jpg" alt="" border=3></img></th>



            </tr>
            <tr></tr>
            <tr>
                <th><p><a style="width:100%" class="btn btn-primary" href="~/Apartments/Details/01">Details &raquo;</a></p></th>
                <th><p><a style="width:100%" class="btn btn-primary" href="~/Apartments/Details/02">Details &raquo;</a></p></th>



            </tr>

        </table>

        <table style="width:100%">
            <tr>
                <hr />
                <th><img src="~/Content/19669483_1.jpg" alt="" border=3></img></th>
                <th><img src="~/Content/23826174_1.jpg" alt="" border=3></img></th>
                <br />

            </tr>
            <tr></tr>
            <tr>
                <br />
                <th><p><a style="width:100%" class="btn btn-primary" href="~/Apartments/Details/03">Details &raquo;</a></p></th>
                <th><p><a style="width:100%" class="btn btn-primary" href="~/Apartments/Details/04">Details &raquo;</a></p></th>



            </tr>

        </table>

        <table style="width:100%">
            <tr>
                <hr />
                <th><img src="~/Content/27385401_1.jpg" alt="" border=3></img></th>
                <th><img src="~/Content/27385401_11.jpg" alt="" border=3></img></th>


            </tr>
            <tr></tr>
            <tr>
                <th><p><a style="width:100%" class="btn btn-primary" href="~/Apartments/Details/05">Details &raquo;</a></p></th>
                <th><p><a style="width:100%" class="btn btn-primary" href="~/Apartments/Details/06">Details &raquo;</a></p></th>



            </tr>
            <tr></tr>
            <hr />

        </table>

    </div>

</div>



<div class="row">

    <div class="col-md-push-12">
        <hr />
        <table style="width:100%; align-content:center;">
            <tr>
                <th style="margin:auto"><h2>Buildings:</h2></th>
                <th style="margin:auto"><h2>Apartments:</h2></th>
            </tr>
            <tr>
                <th style="margin:auto"><p><a style="width:50%" class="btn btn-primary" href="@Url.Action("Index","Buildings")">List of all the Buildings &raquo;</a></p></th>
                <th style="margin:auto"><p><a style="width:50%" class="btn btn-primary" href="@Url.Action("Index","Apartments")">List of all the Apartments &raquo;</a></p></th>

            </tr>
        </table>

    </div>

</div>

